
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$white_background : #f5f5f5;
$blue_backgound : #428bca;

.sidebar {
  background-color:#428bca !important;
}

.sidebar {
  .nav {
    li {
      a {
        color: $white_background;
        background-color: $blue_backgound;

        &:hover{
            color: $blue_backgound;
            background-color: $white_background;
        }
      }
    }

    .active {
      a {
        color: $blue_backgound !important;
        background-color: $white_background !important;

        &:hover{
            color: $blue_backgound;
            background-color: $white_background;
        }
      }

    }

  }
}

.basic-form{
  margin-top: 2%;
}
